{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block headerTitle %}
    Inscription
{% endblock %}

{% block content %}
<main role="main" class="container">
    {# templates/default/new.html.twig #}
    <div class="container">
    {{ form_start(form) }}
    
    {{ form_row(form.email)}}
    {{ form_row(form.password)}}
    <hr/>
    {{ form_row(form.firstname)}}
    {{ form_row(form.lastname)}}

    {{ form(form) }}
{{ form_end(form) }}
    </div>
</main>
{% endblock %}
